connections {
   ims {
      local_addrs  = {{ local_addr }}
      remote_addrs = {{ epdg }}
      vips = ::
{% if ike_proposals %}
      proposals = {{ ike_proposals }}
{% endif %}

      local {
         auth = eap-aka
         id = {{ nai }}
      }
      remote {
         id = ims
      }
      children {
         ims {
            remote_ts = ::/0
            updown = /usr/local/etc/ims.updown
            close_action = start
            if_id_in = 23
            if_id_out = 23
{% if esp_proposals %}
            esp_proposals = {{ esp_proposals }}
{% endif %}
         }
      }
      version = 2
   }
}
